<div ng-if="game != undefined" class="w3-padding">

  <h2 class="nf-title">{{ game.name }}</h2>
  <h4>{{ game.description }}</h4>

  <div>
    <h3>
      <i class="fa fa-clock-o" aria-hidden="true"></i> Game Length
    </h3>
    <h4>{{ game.game_length / 60000 }} minutes</h4>
  </div>

  <div>
    <h3>
      <i class="fa fa-bolt" aria-hidden="true"></i> Targets Max Time up
    </h3>
    <h4>{{ game.max_reflex_time / 1000 }} seconds</h4>
  </div>

  <div>
    <h3>
      <i class="fa fa-bullseye" aria-hidden="true"></i> Enemies
    </h3>
    <h4 ng-if="game.number_of_target != undefined">
      {{ game.number_of_target }} targets
    </h4>
    <h4 ng-if="game.number_of_target == undefined">
      Unlimited targets
    </h4>
  </div>
</div>