<div>

  <div class="nf-title nf-container">
    <h1>Mission Summary</h1>
  </div>

  <div class="w3-row nf-container">
    <div class="nf-item-desc">

      <div class="w3-col s6">
        <gun-specs gun="game.gun"></gun-specs>
      </div>

      <div class="w3-col s6">
        <game-details game="game.game"></game-details>
      </div>
     
    </div>
  </div>

  <a ng-click="nextScreen()" ng-class="{'w3-disabled': !game.coordinator}" class="w3-button w3-red w3-xlarge w3-display-bottommiddle w3-margin">Ready? Press the START button!</a>

</div>