<div class="noselect">

  <div class="nf-title nf-container">
    <h1>Weapon Selection</h1>
  </div>

  <div class="w3-row w3-margin nf-container">
    <div class="w3-col m5 l4">
      <ul class="w3-ul nf-gun-list">
        <li ng-repeat="gun in guns" ng-click="selectGun(gun)" ng-class="{selected: gun.gun_id==game.gun.gun_id}" class="w3-padding-16">
          <img ng-src="/static/img/guns/{{ gun.image }}">
          <span class="w3-large nf-title">{{ gun.name }}</span><br>
          <span>{{ gun.description }}</span>
        </li>
      </ul>
    </div>

    <div class="w3-col m7 l8 nf-item-desc">
      <gun-specs gun="game.gun"></gun-specs>
    </div>

    <a ng-click="nextScreen()" ng-class="{'w3-disabled': !game.gun}" class="w3-button w3-red w3-xlarge w3-display-bottomright w3-margin">Next: Select the game type</a>

  </div>
</div>


<!--<img src="http://www.imfdb.org/images/thumb/1/15/Bo3xr2.jpg/600px-Bo3xr2.jpg">-->