<div class="noselect">

  <div class="nf-title nf-container">
    <h1>Weapon Selection</h1>
  </div>

  <div class="w3-row w3-margin nf-container">
    <div class="w3-col m5 l4">
      <ul class="w3-ul nf-gun-list">
        <li ng-repeat="gun in guns" ng-click="selectGun(gun)" ng-class="{selected: gun.gun_id==game.gun.gun_id}" class="w3-padding-16">
          <img ng-src="/static/img/guns/{{ gun.image }}">
          <span class="w3-large nf-title">{{ gun.name }}</span><br>
          <span>{{ gun.description }}</span>
        </li>
      </ul>
    </div>

    <div ng-if="game.gun != undefined" class="w3-col m7 l8 nf-item-desc w3-padding">

      <h2 class="nf-title">{{ game.gun.name }}</h2>
      <h4>{{ game.gun.description }}</h4>
      <p style="text-align: center;">
        <img class="nf-gun-image" ng-src="/static/img/guns/{{ game.gun.image }}">
      </p>
      <div class="w3-row">
        <div class="w3-col m12 l6">
          <table class="nf-gun-specs">
            <tr>
              <td>Damage</td>
              <td>
                <div class="w3-border">
                  <div class="w3-grey" style="height:24px;width:{{ game.gun.damage }}%"></div>
                </div>
              </td>
            </tr>
            <tr>
              <td>Accuracy</td>
              <td>
                <div class="w3-border">
                  <div class="w3-grey" style="height:24px;width:{{ game.gun.accuracy }}%"></div>
                </div>
              </td>
            </tr>
            <tr>
              <td>Fire Rate</td>
              <td>
                <div class="w3-border">
                  <div class="w3-grey" style="height:24px;width:{{ game.gun.fire_rate }}%"></div>
                </div>
              </td>
            </tr>
            <tr>
              <td>Ammo</td>
              <td>
                <img class="nf-bullet" src="/static/img/bullet.png" ng-repeat="i in range(game.gun.ammo) track by $index">
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <a ng-click="nextScreen()" class="w3-button w3-red w3-xlarge w3-display-bottomright w3-margin">Next: Select the game type</a>

  </div>
</div>


<!--<img src="http://www.imfdb.org/images/thumb/1/15/Bo3xr2.jpg/600px-Bo3xr2.jpg">-->