<div class="noselect">

  <div class="nf-title nf-container">
    <h1>Game Selection</h1>
  </div>

  <div class="w3-row w3-margin nf-container">
    <div class="w3-col m5 l4">
      <ul class="w3-ul nf-gun-list">
        <li ng-repeat="gameMode in games" ng-click="selectGame(gameMode)" ng-class="{selected: gameMode.game_id==game.game.game_id}"
          class="w3-padding-16">
          <span class="w3-large nf-title">{{ gameMode.name }}</span><br>
          <span>{{ gameMode.description }}</span>
        </li>
      </ul>
    </div>

    <div ng-if="game.game != undefined" class="w3-col m7 l8 nf-item-desc">
      <game-details game="game.game"></game-details>
    </div>

    <a ng-click="nextScreen()" ng-class="{'w3-disabled': !game.game}" class="w3-button w3-red w3-xlarge w3-display-bottomright w3-margin">Next: Mission Summary</a>

  </div>
</div>