<div ng-controller="GunSelector">

  <div class="nf-title nf-container">
    <h1>Weapon selection</h1>
  </div>

  <div class="w3-row w3-margin nf-container">
    <div class="w3-col s3">
      <ul class="w3-ul">
        <li ng-repeat="gun in guns" class="w3-padding-16">
          <img class="nf-gun-image" src="/static/img/guns/{{ gun.image }}" class="w3-left w3-circle w3-margin-right">
          <span class="w3-large nf-title">{{ gun.name }}</span><br>
          <span>{{ gun.description }}</span>
        </li>
      </ul>
    </div>

    <div ng-if="gun != undefined" class="w3-col s9 nf-gun-container">

      <h2 class="nf-title">{{ gun.name }}</h2>
      <p>{{ gun.description }}</p>
      <p style="text-align: center;">
      <img class="nf-gun-image" ng-src="/static/img/guns/{{ gun.image }}">
      </p>
      <div class="w3-row">
      <div class="w3-col m12 l6">
      <table class="nf-gun-specs">
        <tr>
          <td>Damage</th>
          <td>
            <div class="w3-border">
              <div class="w3-grey" style="height:24px;width:{{ gun.damage }}%"></div>
            </div>
          </th>
        </tr>
        <tr>
          <td>Range</th>
          <td>
            <div class="w3-border">
              <div class="w3-grey" style="height:24px;width:{{ gun.range }}%"></div>
            </div>
          </th>
        </tr>
        <tr>
          <td>Accuracy</th>
          <td>
            <div class="w3-border">
              <div class="w3-grey" style="height:24px;width:{{ gun.accuracy }}%"></div>
            </div>
          </th>
        </tr>
        <tr>
          <td>Ammo</th>
          <td>
            <img class="nf-bullet" src="/static/img/bullet.png" ng-repeat="i in range(gun.ammo) track by $index">
          </th>
        </tr>
      </table>
    </div>
    </div>
    </div>

    <a href="/#/mbed" class="w3-button w3-red w3-xlarge w3-display-bottomright w3-margin">Next: Select the mode</a>

  </div>
</div>


<img src="http://www.imfdb.org/images/thumb/1/15/Bo3xr2.jpg/600px-Bo3xr2.jpg">