/* Main CSS */
html, body, h1, h2, h3, h4, h5, h6 {
  font-family: 'Sanchez', serif;
}
html {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/static/nerfus/img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    color: white
}
body {
    margin-top: 80px;
}

.nf-logo {
    margin: 15px;
}
.nf-logo img {
    vertical-align: middle;
}
/* END OF Main CSS */

.nf-container {
    background-color: rgba(0, 0, 0, 0.80) !important;
    -webkit-box-shadow: 0px 0px 25px 0px rgba(255, 255, 255, 0.6);
    -moz-box-shadow: 0px 0px 25px 0px rgba(255, 255, 255, 0.6);
    box-shadow: 0px 0px 25px 0px rgba(255, 255, 255, 0.6);
    margin-bottom: 60px;
}
.nf-title p {
    text-align: center;
    font-size: 3em;
    margin: 15px;
}
.nf-gun-container {
    margin-left: 120px;
    margin-right: 120px;
    padding: 20px;
    border-radius: 10px;
}
.nf-game-container {
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}
.nf-specs {
    font-size: 1.2em;
    margin: 20px;
}
.nf-specs > div {
    margin: 30px;
}